.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1E2A38, #16202D);
    font-family: Arial, sans-serif;
  }
  
  .form {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1E2A38;
    margin-bottom: 1rem;
  }
  
  .input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #1E2A38;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
    outline: none;
    transition: 0.3s;
  }
  
  .input:focus {
    border-color: #FFA500;
    box-shadow: 0 0 10px white;
  }
  
  .button {
    background: #FFA500;
    color: black;
    border: none;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #e49400;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8);
  }
  